node_modules/

build/

.env

coverage

.nyc_output

*.txt
backend/database/queries/dist/
backend/database/seeders/dist/
backend/controllers/dist
backend/middleware/dist
backend/routes/dist
backend/dist

.vscode/